body{
  background-color: #78b1eb;
  font-family: arial;
}
a{
  text-decoration: none;
}
nav{
  background-color: white;
  margin: 20px;
  height: 40px;
}
nav li{
  float: left;
}
nav li a{
  border-right: 1px solid #78b1eb;
  color: #78b1eb;
  padding: 12px 56px;
  display: block;

}
nav li:nth-child(9) a{
  border-right: none;
}
a:hover{
  background-color: #356da5;
  color: white;
}
nav .burger a{
  background-color: #46a1fe;
  color: white;
  padding: 12px 26px;
}
.burger{
  float: right;
  display: none;

}
.burger span{
  background-color: white;
  width: 18px;
  height: 3px;
  display: block;
  margin: 2px;
  position: relative;
}
/*.burger .circle{
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background-color: #46a1fe;
  border: 2px solid white;
  left: -10px;
  top: -35px;
}
.burger .circle p{
  color: white;
  text-align: center;
  margin-top: 5px;
}*/
nav .burger a::before{
  content: "8";
  text-align: center;
  background-color: #46a1fe;
  padding: 3px;
  width: 20px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  right: 80px;
  top: 28px;
  border: 2px solid white;
  line-height: 110%;
}

/*           stiluri pentru mobile          */

@media screen and (max-width:800px) {
nav .burger{
  display: block;
}
nav li:nth-child(9),
nav li:nth-child(8),
nav li:nth-child(7),
nav li:nth-child(6),
nav li:nth-child(5){
  display: none;
}

}
