body{
  background-color: #5415;
  font-family: arial;
}
#main{
  padding: 20px;
  color: white;
  background-color: #272727;
  height: 60px;
  padding: 20px 80px 20px 80px;
}
#main .nav-left{
  float: left;
  width: 60%;
  border-right: 1px solid #7E7E7e;

}
#main .nav-right{
  float: right;
  width: 40%;
  font-size: 25px;
  margin-left: -1px;
}
#main .nav-left li{
  float: left;
}
#main .nav-left li:last-child{
  float: right;
  margin-right: 60px;
}
#main .nav-right li{
  float: left;
  margin-left: 20px;
}
#main .nav-right li:first-child{
  margin-left: 60px;
}
#main .nav-right li:last-child{
  float: right;
}
#main .nav-left li:last-child,
#main .nav-right li{
  margin-top: 10px;
}
#main .nav-right li{
  margin-top: 5px;
}
.text-night{
  color: #7E7E7E;
}
#main .nav-left .logo{
  float: left;
  margin-right: 15px;
}
#main h3{
  width: 200px;
  font-size:20px;
}
#main img{
  width: 40px;
  height: 40px;
}
#main .nav-right a:link{
  color: white;
}
#main .nav-right a:visited{
  color: white;
}
#main .nav-right a:hover{
  color: #CBFF0F;
}
#main .nav-left a:link{
  color: white;
}
#main .nav-left a:visited{
  color: white;
}
#main .nav-left a:hover{
  color: #white;
}#main .nav-left a.call:link{
  color: #7e7e7e;
}
#main .nav-left a.call:visited{
  color: white;
}
#main .nav-left a.call:hover{
  color: #white;
}
a{
  text-decoration: none;
}
