body{
  font-family:arial;
}
#main{
  background-color: #272727;
  padding: 20px 80px 20px 80px ;
  height: 60px;
}
#main .nav-left{
  float: left;
  width: 60%;
  border-right: 1px solid #7e7e7e;
  margin-right: -1px;
}
#main .nav-right{
  float: right;
  width: 40%;
}
#main li{
  float: left;
}
#main li:last-child{
  float: right;
}
#main .nav-right li:first-child{
  margin-left: 80px;
}
#main .nav-left li:last-child{
  margin-right: 80px;
}
#main .nav-left li:last-child,
#main .nav-right li{
  padding-top: 8px;
}
#main .nav-right li{
    font-size: 20px;
}
#main .logo{
  border: 3px solid white;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 15px;
}
#main h3{
  float: left;
}
#main .nav-left li:first-child {
  width: 200px;
}
#main a{
  color: #fff;
}
.text-night{
  color: #7e7e7e;
}
#main .slash{
  color: #272727;
  margin-left: -5px;
  font-size: 25px;
  font-weight: bold;
}
